:root {
  --background: #fff;
  --foreground: #21283a;
  --accentColor: #0085ff;
  --tableWidth: 812px;
  --mobileWidth: 480px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--foreground);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px 10px;
  width: calc(100% - 40px);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  z-index: 999;
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}
.swiper-button-next {
  right: 25px;
}
.swiper-button-prev {
  left: 25px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: #fff;
  content: "❯";
  font-size: 24px;
  text-align: center;
}

.swiper-button-prev::after {
  content: "❮";
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

h1 {
  color: var(--foreground);
  font-size: 32px;
}

@media(max-width: 480px) {
  h1 {
    font-size: 24px;
  }
}